## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [111]:
#Example 
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [112]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

Adding to an existing list

### Question 1

Add 10 to list l1 given above.

[ **Hint: ** Use **append** ]

In [113]:
l1.append(10)

Removing from an existing list

### Question 2

Remove 10 from l1.

[ **Hint:** Use **remove**]

In [114]:
l1.remove(10)

Joining 2 lists

### Question 3

[ **Hint: ** Use **+** operator or **extend**]

In [115]:
l1 = ['learning', "Python", 'is fun?', True]
l2 = list(("learning", "for", "life", True))

In [116]:
l1+l2

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

Number List

### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]

[ **Hint: ** Use **len(),sum(), min(), max()** functions ]

In [140]:
l3 = [2,4,6,8]

In [123]:
min_l3 = min(l3)
max_l3 = max(l3)
sum_l3 = sum(l3)
len_l3 = len(l3)

In [121]:
print('range:', [min_l3,max_l3])

range: [2, 8]

In [122]:
print('mean: ', sum_l3/len_l3)

mean:  5.0

Presence of an element in a list

### Question 5
Check for the presence of 3,4 in the list l3 given above.

In [141]:
if (3 in l3):
    print('l3 contains 3')
if (4 in l3):
    print('l3 contains 4')

l3 contains 4

Count the occurances of an element in a given list.

### Question 6
Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.

[ **Hint: ** Use **count()** function]

In [142]:
n1 = [0,1,3,3,5,5,7,9]
l3 = l3+n1
l3.count(5)

2

Sort and Reverse a list

### Question 7
sort l3 and reverse l3(given above).

In [143]:
sorted(l3)

[0, 1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9]

In [144]:
sorted(l3, reverse = True)

[9, 8, 7, 6, 5, 5, 4, 3, 3, 2, 1, 0]

### Question 8
Get 2nd to 4th elements in the given list l4.

l4 = [1,7,4,6,3,2]

In [145]:
l4 = [1,7,4,6,3,2] #assuming 2nd element does not refer to index
l4[1:4]

[7, 4, 6]

### Question 9

Get the alternative elements in list l4(given above) starting from 1st element.

[ **Hint: ** Use **list slicing [start:stop:step]**. By default step size is 1. ]

In [146]:
l4[0::2]

[1, 4, 3]

### Question 10
Reverse the list l4 using list slicing.

In [147]:
l4[::-1]

[2, 3, 6, 4, 7, 1]

## Part 2

###  Dictionaries in Python

In [159]:
#Example 
d1 = {"name": "Great Learning", "city": "Bangalore"}
print(d1)

{'name': 'Great Learning', 'city': 'Bangalore'}

### Question 11
Add new key value pair ('program', 'AIML') in distionary d1.

In [160]:
d1['program'] = 'AIML'

### Question 12
Delete a key value pari with key='city' in d1.

In [161]:
del d1['city']

### Question 13

Check the no.of items in dict d1 and whether a key 'city' exists or not.

In [162]:
len(d1)

2

In [163]:
'City' in d1

False

### Question 14

Get all keys and values in d1 separately.

In [164]:
print(d1.keys())
print(d1.values())

dict_keys(['name', 'program'])
dict_values(['Great Learning', 'AIML'])

## Part 3

### Sets in Python

Sets are useful for storing and performing operations on data where each value is unique. This is similar to Set theory in Maths.

In [165]:
#Example 
s1 = {1,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

### Question 15

Add 6 to set s1 and remove 3 from s1.

In [166]:
s1.add(6)
s1.remove(3)
s1

{1, 2, 4, 5, 6}

#### Mostly sets are used for common mathematical operations like union, intersection, difference and subsets.

In [167]:
s1 = {1,2,3,4,5}
s2 = {1,4,6,7,8}

### Question 16

Find the Union, intersection, difference of two sets s1 and s2.

[ **Hint: ** Use **union(), intersection(), difference() ** ]

In [168]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [169]:
s1.intersection(s2)

{1, 4}

In [170]:
s1.difference(s2)

{2, 3, 5}

### Question 17
Given two sets s3, s4. Find whether s4 is subset of s3 or not.

s3 = {1,2,3,4,5,6,7,8}

s4 = {3,4,5}

[ **Hint: ** Use **issubset()** ]

In [171]:
s3 = {1,2,3,4,5,6,7,8}
s4 = {3,4,5}

In [172]:
s4.issubset(s1)

True

### Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

### Question 18

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

In [173]:
def sum_3(a,b,c):
    return a+b+c

### Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 19

Write the same above **sum_3** function using lambda.

In [174]:
sum_3 = lambda a,b,c: a+b+c

### Loops

**Example: **

**for** *iterator_name* in list:

        
        use *iterator_name* to access each element in list

### Question 20

Create a **list** with name *test_l1* and **append** the following numbers 1,2,3,4,5,6 in the same order and print elements in the list using **for loop**.

In [185]:

test_l1 = []

for x in range(1,7):
    test_l1.append(x)
      
print(test_l1)

[1, 2, 3, 4, 5, 6]